body {
    background-color: #ededed;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height:50px;
}

.loginCard {
    horiz-align: center;
    border-width: 1px;
    border-radius: 15px;
    margin: 0;
    padding: 10px;
    width: 25%;
    height: 60%;
    background: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginContainer {
    height: 90%;
    text-align: center;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerCard {
    horiz-align: center;
    border-width: 1px;
    border-radius: 15px;
    margin: 0;
    padding: 10px;
    width: 30%;
    height: 90%;
    background: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registerContainer {
    height: 90%;
    text-align: center;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formInput, .form-check {
    width: 90%;
    color: #8e8e8e;
    margin: 20px auto 40px;
    border-radius: 25px;
}

.form-control {
    border: 1px solid #8e8e8e;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 10px 10px;
}

.formReset {
    margin: 0 auto 40px;
    height: 15%;
    width: 85%;
}

#reset {
    text-decoration: none;
    color: #0080ff;
    margin-bottom: 15px;
}

#reset:hover {
    color: #0059b3;
}

#togglePassword {
    color: #3366cc;
    float: right !important;
    font-size: 15px !important;
    left: auto !important;
    background: transparent !important;
    position: absolute;
    cursor: pointer !important;
    top: 30% !important;
    right: 10px;
}

.px-5 {
    padding-left: 10em !important;
    padding-right: 10em !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    border: none;
    border-radius: 15px;
    background-color: #00cc99 !important;
}

.btn-primary:hover {
    background-color: #009973 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.navbar-brand {
    font-weight: 800;
}

.active a, .active a:hover {
    color: #00cc99;
    font-weight: bold;
    cursor: pointer;
}

.course-container {
    width: 60%;
    min-height: 80%;
    margin-top: 25px;
    margin-bottom: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.no-courses {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    min-height: 50px;
    position: relative;
    margin-top: -200px;
    width: 100%;
}