<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gettup</title>
    <div th:replace="fragments/headerFragment.html :: header"></div>
    <script>
        /*<![CDATA[*/

        var flag = /*[[${message}]]*/ 'default';
        window.onload = function () {
            if (flag === 'exists') {
                iziToast.error({
                    title: 'Course already exists',
                    message: '',
                    timeout: 3000,
                    animateInside: false,
                    transitionIn: 'fadeInDown',
                    transitionOut: 'fadeOutUp',
                    position: 'topCenter',
                });
            } else if (flag === 'success') {
                iziToast.success({
                    title: 'Successfully added',
                    message: '',
                    timeout: 3000,
                    animateInside: false,
                    transitionIn: 'fadeInDown',
                    transitionOut: 'fadeOutUp',
                    position: 'topCenter',
                });
            }
        };

        /*]]>*/
    </script>
</head>
<body>

<div sec:authorize="hasRole('ROLE_STUDENT')">
    <div th:replace="fragments/navbar.html :: studentNavbar"></div>

    <div class="course-container">
        <br><br>
        <h3>My courses</h3>
        <br><br>

        <div th:if="${not #lists.isEmpty(courses)}">
            <div class="row">
                <div class="col-4" th:each="course : ${courses}">
                    <div class="card"
                         style="width: 18rem; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                        <img alt="Course avatar" class="card-img-top"
                             height="140rem" src=""
                             style="border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom: 1px solid gray;"
                             th:src="@{'data:image/jpeg;base64,'+${course.generateBase64Image()}}">

                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getDescription()}"></p>
                            <form method="post" th:action="@{/course}">
                                <input style="float: right" th:name="courseId" th:value="${course.getId()}"
                                       type="hidden">
                                <input class="btn btn-primary course-btn" style="width: 100%;" type="submit"
                                       value="Open">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(courses)}">
            <h5 class="no-courses">Courses not added yet</h5>
        </div>
    </div>
</div>

<div sec:authorize="hasRole('ROLE_CREATOR')">

    <div th:replace="fragments/navbar.html :: creatorNavbar"></div>

    <div class="course-container">
        <br><br>
        <div class="row">
            <div class="col-6">
                <h3>My courses</h3>
            </div>
            <div class="col-6">
                <a class="btn btn-outline-dark" style="float: right" th:href="@{/create/course}">ADD COURSE</a>
            </div>
        </div>
        <br><br>

        <div th:if="${not #lists.isEmpty(courses)}">
            <div class="row">
                <div class="col-4" th:each="course : ${courses}">
                    <div class="card"
                         style="width: 18rem; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                        <img alt="Course avatar" class="card-img-top"
                             height="140rem" src=""
                             style="border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom: 1px solid gray;"
                             th:src="@{'data:image/jpeg;base64,'+${course.generateBase64Image()}}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.getName()}"></h5>
                            <p class="card-text" th:text="${course.getDescription()}"></p>
                            <form method="post" th:action="@{/course}">
                                <input style="float: right" th:name="courseId" th:value="${course.getId()}"
                                       type="hidden">
                                <input class="btn btn-primary course-btn" style="width: 100%;" type="submit"
                                       value="Open">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(courses)}">
            <h5 class="no-courses">Courses not added yet</h5>
        </div>
    </div>

</div>

</body>
</html>