<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <div th:replace="fragments/headerFragment.html :: header"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var flag = /*[[${param.error}]]*/ 'default';
        window.onload = function () {
            if (flag != null) {
                iziToast.error({
                    title: 'Invalid email and/or password',
                    message: '',
                    timeout: 3000,
                    animateInside: false,
                    transitionIn: 'fadeInDown',
                    transitionOut: 'fadeOutUp',
                    position: 'topCenter',
                    color: 'red'
                });
            }
        };

    </script>
</head>
<body>

<div class="loginCard">
    <div class="loginContainer">
        <br>
        <h2><b>LOGIN</b></h2>
        <form autocomplete="off" method="post" novalidate th:action="@{/login}">
            <div class="mb-1 formInput">
                <label for="floatingInput"></label>
                <input class="form-control" id="floatingInput" name="username" placeholder="Email"
                       required th:name="username" type="email">
            </div>
            <div class="input-group mb-0 formInput">
                <input class="form-control" name="password"
                       placeholder="Password" required th:name="password" type="password">
            </div>

            <div class="input-group formReset">
                <a href="#" id="reset" style="float:left; margin-top: 5px; font-size: 14px;">Forgot your password?</a>
            </div>

            <div class="formButton">
                <input class="btn btn-success" type="submit" value="Sign in">
                <a class="btn btn-success" th:href="@{/register}">Register</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>