<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <div th:replace="fragments/headerFragment.html :: header"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var flag = /*[[${error}]]*/ 'default';
        window.onload = function () {
            if (flag != null) {
                iziToast.error({
                    title: flag,
                    message: '',
                    timeout: 3000,
                    animateInside: false,
                    transitionIn: 'fadeInDown',
                    transitionOut: 'fadeOutUp',
                    position: 'topCenter',
                    color: 'red'
                });
            }
        };

        /*]]>*/
    </script>
</head>
<body>

<div class="registerCard">
    <div class="registerContainer">
        <br>
        <h2><b>REGISTRATION</b></h2>
        <form autocomplete="off" class="was-validated" method="post" th:action="@{/register}">
            <div class="form-floating mb-3">
                <input class="form-control" id="inputFirstName" placeholder="First name" required
                       th:name="firstName" type="text">
                <label for="inputFirstName">First name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputLastName" placeholder="Last name" required
                       th:name="lastName" type="text">
                <label for="inputLastName">Last name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputEmail" placeholder="Email" required
                       th:name="email" type="email">
                <label for="inputEmail">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputPassword1" placeholder="Password"
                       required th:name="password" type="password">
                <label for="inputPassword1">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputPassword2" placeholder="Confirm" required
                       th:name="confirm" type="password">
                <label for="inputPassword2">Confirm password</label>
            </div>
            <div class="form-check mb-0 mt-0">
                <input checked class="form-check-input" id="flexCheckChecked" th:name="roles" type="checkbox" value="3">
                <label class="form-check-label" for="flexCheckChecked">
                    I want to enroll for courses
                </label>
            </div>
            <div class="form-check mt-0">
                <input class="form-check-input" id="flexCheckDefault" th:name="roles" type="checkbox" value="2">
                <label class="form-check-label" for="flexCheckDefault">
                    I'm a Creator
                </label>
            </div>

            <div class="formButton">
                <input class="btn btn-success" type="submit" value="Register">
                <a class="btn btn-success" th:href="@{/login}">Log in</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>