<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gettup</title>
    <div th:replace="fragments/headerFragment.html :: header"></div>
</head>
<body>

<div th:insert="fragments/navbar.html :: creatorNavbar"></div>

<div class="course-container">
    <br>
    <h3>Add lesson</h3>
    <br>

    <form enctype="multipart/form-data" method="post" th:action="@{/add/lesson}">
        <div class="row">
            <div class="col-5">
                <p>Lesson materials (one or more files)</p>
                <div class="mb-3 file-upload" style="background-color: white; width: 90%; height: 50%;
                display: flex; justify-content: center; align-items: center; border-radius: 15px; border: 1px solid gray">
                    <p style="font-size: 36px; font-weight: bold;" class="text-muted">+</p>
                    <label style="width: 100%; height: 100%; font-size: 36px; font-weight: bold;" class="form-label text-muted" for="formFile"></label>
                    <input class="form-control" hidden id="formFile" multiple th:name="materials" type="file">
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="exampleFormControlInput1">Lesson title</label>
                            <input class="form-control" id="exampleFormControlInput1" placeholder="Enter title"
                                   th:name="title"
                                   type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="exampleFormControlTextarea1">Lesson's textual data</label>
                            <textarea style="resize: none;" class="form-control" id="exampleFormControlTextarea1" rows="4"
                                      th:name="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <input style="float: right" th:name="courseId" th:value="${course_id}" type="hidden">
                            <input class="btn btn-outline-dark" style="float: right" type="submit" value="SAVE">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>